{% extends "base.html" %}

{% block content %}
        <!-- Formulario -->
        <div class="form-card">
            <h2>Registro de Alumno</h2>
           
            <form method="post">
                {{ alumno.hidden_tag() }}
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    {{ alumno.nombre }}
                </div>
                <div class="form-group">
                    <label for="ape_pa">Apellido Paterno</label>
                    {{ alumno. ape_pa }}
                </div>
                <div class="form-group">
                    <label for="ape_ma">Apellido Materno</label>
                    {{ alumno. ape_ma }}
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    {{ alumno.fecha }}
                </div>
                <div class="form-group">
                    <label for="grupo">Grupo</label>
                    {{ alumno.grupo }}
                </div>
                
                {{ alumno.boton }}
            </form>
        </div>

        <!-- Tabla -->
        <div class="table-card">
            <h2>Alumnos Registrados</h2>
            <table>
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Grupo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in lista_alumnos %}
                    <tr>
                        <td>{{ alumno.matricula }}</td>
                        <td>{{ alumno.nombre }}</td>
                        <td>{{ alumno.ape_pa }}</td>
                        <td>{{ alumno.ape_ma }}</td>
                        <td>{{ alumno.fecha_nacimiento }}</td>
                        <td>Grupo {{ alumno.grupo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock %}