{% extends "base.html" %}

{% block content %}
        <!-- Formulario -->
        <div class="form-card">
            <h2>Registro de Docente</h2>
           
            <form method="post">
                {{ maestro.hidden_tag() }}
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    {{ maestro.nombre }}
                </div>
                <div class="form-group">
                    <label for="ape_pa">Apellido Paterno</label>
                    {{ maestro. ape_pa }}
                </div>
                <div class="form-group">
                    <label for="ape_ma">Apellido Materno</label>
                    {{ maestro. ape_ma }}
                </div>
                <div class="form-group">
                    <label for="fecha_nacimiento">Fecha de Nacimiento</label>
                    {{ maestro.fecha }}
                </div>
                <div class="form-group">
                    <label for="grupo">Grupo</label>
                    {{ maestro.grupo }}
                </div>
                
                {{ maestro.boton }}
            </form>
        </div>

        <!-- Tabla -->
        <div class="table-card">
            <h2>Maestros Registrados</h2>
            <table>
                <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Grupo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for maestro in lista_maestro %}
                    <tr>
                        <td>{{ maestro.matricula }}</td>
                        <td>{{ maestro.nombre }}</td>
                        <td>{{ maestro.ape_pa }}</td>
                        <td>{{ maestro.ape_ma }}</td>
                        <td>{{ maestro.fecha_nacimiento }}</td>
                        <td>Grupo {{ maestro.grupo }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}